* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container-auth {
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}